body{
    background-color: chartreuse;
    display: flex;
    justify-content: center;
}

/* #slideshow-container{
    display: none;
} */

img{
    width: 40vw;
    height: 20vh;
}

.hidden{
    display: none;
}