html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 28px;
  background: lightblue;
}
div {
  /* width: 60%; */
  border: 1px solid black;
  text-align: center;
  height: 50vh;
  text-align: center;
}