/* body {
    text-align: center;
    border: 1px dotted blue;
    background-color: rgb(254, 183, 183);
    background-image: url("https://i.pinimg.com/originals/48/97/2e/48972ec917625eff4a2eeecaad3605c0.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-origin: content-box;

}
h1 {
    color: white;
    font-size: 86px;
}

img {
    height: 50vh;
    border: 1px dotted blue;
}

input {
    width: 50%;
    display: block;
    margin: 5vh auto;
    text-align: center;
    padding: 1vh;
    border: 1px dotted blue;
}

#submit {
    border: 1px dotted blue;
    display: block;
    margin: 1vh auto;
}

#clear {
    border: 1px dotted blue;
    display: block;
    margin: 1vh auto;
} */



