body{
	background: black;
	text-align: center
	background-color: black;
}

img{
	max-width: 70%;
	margin-top: 10px;
	height: auto;

}

h1{
	color: white;
	text-align: center;
}

h5{
	color: white;
	text-align: center;
}

input[type=text]{
	text-align: center;
	color: white;
}

input[type=submit]{
	text-align: center;
}